.navigation{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.subjects {
    border-bottom: 1px solid #b0b0b0;
}
.navigation ul li a{
    text-decoration: none;
    color:#000639;
    font-size: 18px;
}
.navigation ul li a.hover:hover{
    cursor: pointer;
    text-decoration: underline;
}
.navigation .categories div.hover:hover{
    background-color: #3e3e3e;
    color:#fff;
    transition: 0.4s;
    cursor: pointer;
}
.navigation ul {
    width: 100%;
    padding:0;
    text-align: center;
}
.navigation ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    width:15%;
}
.container{
    min-height:80vh;
    width:60%;
    margin:auto;
    margin-top:2%;
}
.container ul li {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    padding:7px 25px;
    border:1pt solid rgb(163, 163, 163, 0.7);
    border-radius: 15px 15px 1px 1px;
}
.container ul{
    padding: 0;
}
.display-area{
    border:1pt solid grey;
}
@media (max-width:700px){
    .header nav div, .header nav div a{
        font-size: 12px;
    }
    .navigation ul{
        width:100%;
    }
    .navigation ul li{
        width:23%;
        padding:5px 0;
        text-align: center;
    }
    .navigation ul li a{
        font-size: 10px;
    }
    .navigation .categories div {
        font-size: 10px;
    }
    .container ul li {
        font-size: 10px;
    }
}