.language-arts .subject-header {
    background:rgba(253, 251, 137, 0.2);
}
.science .subject-header{
    background:rgba(121, 249, 121, 0.2);
}
.mathematics .subject-header{
    background: rgba(251, 108, 108, 0.2);
}
.social-studies .subject-header{
    background:rgba(107, 107, 255, 0.2)
}
.subjects .subs{
    flex-basis:24%;
    border:1pt solid grey;
    border-radius: 8px;
    margin:2% 0%;
    position: relative;
}