.subjects .subs{
    flex-basis:47%;
    border:1pt solid grey;
    border-radius: 8px;
    margin:2% 0%;
    position: relative;
}
.unit-names {
    padding:15px 10px;
    background-color: #e3e3e3;
    border:1pt solid #ffe;
}
.unit-names a {
    text-decoration: none;
}