*{
    margin:0;
    border:none;
    box-sizing: border-box;
    user-select: none;
    font-family: "Poppins", sans-serif;
    color:#14045c;
}
.header{
    width:100%;
    background:#ff4d00;
    padding:0.5% 8%;
}
nav img {
    width:160px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.header nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header nav div{
    font-size: 24px;
    padding:10px 20px;
    letter-spacing:0.1em;
    font-weight: 600;
    color: #fff;
}
.header nav div a{
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}
.header nav div a.hover:hover{
    text-decoration: underline;
    color:#000639;
}
/*
Codes below for about class in sub pages - ged.html igcse.html etc
These codes are shared between those sub pages
*/
.about{
    padding:2% 8%;
}
.about p{
    font-size: 18px;
    text-indent: 50px;
    text-align: justify;
}
.categories{
    padding:0 8%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.categories .subs h3 {
    text-align: center;
}
.categories .subject-header{
    padding:10px 0;
}
.categories .subject-body{
    padding:15px;
    margin-bottom:30px;
}
.categories .subject-body p{
    padding-top:8px;
    font-weight: 600;
}
.categories .subject-body ul{
    padding-left: 30px;
}
.categories .subject-body ul li{
    font-size: 14px;
}
.subs{
    flex-basis:24%;
    border:1pt solid grey;
    border-radius: 8px;
    margin:2% 0%;
    position: relative;
}
.cie.subs, .ed-excel.subs{
    flex-basis:36%;
}
.subs h3 {
    text-align: center;
}
.subs a.hover:hover{
    text-decoration: underline;
    cursor: pointer;
}
.subject-header{
    padding:10px 0;
}
.navigation{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.modes {
    border-bottom: 1px solid #b0b0b0;
    width:100%;
    display: flex;
    justify-content: center;
}
.navigation ul li a{
    text-decoration: none;
    color:#000639;
    font-size: 18px;
}
.navigation ul li.hover:hover{
    cursor: pointer;
    background-color: #e0e0e0;
    transition: 0.5s;
    box-shadow: 1px 1px 1px #e0e0e0;
}
.navigation ul {
    width: 80%;
    padding:0;
    text-align: center;
}
.navigation ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    width:20%;
}
/*Codes below for apps section*/
.apps{
    padding:0% 8% 0% 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.apps .intro{
    margin:0 0 5% 0;
    text-align: justify;
}
h1 {
    font-size: 42px;
    text-align: center;
    padding:20px 0 20px 0;
}
h3 {
    font-size: 24px;
}
p {
    font-size:18px;
}
a {
    font-size: 14px;
}
.apps .intro p {
    text-indent:3%;
    padding:0.3% 0;
    font-weight: 400;
}
.apps .intro :nth-child(5){
    text-indent: 0%;
    font-weight: 500;
}
/*Codes below for services section*/
.services p{
    text-align: center;
}
.row {
    margin-top:3%;
    display: flex;
    justify-content: space-between;
}
.service-col{
    flex-basis: 23%;
    background:#fff3f3;
    border-radius: 10px;
    padding: 20px 15px 30px 15px;
    transition: 0.5s;
    position: relative;
    margin-bottom: 5%;
}
.service-col p {
    padding-bottom:20px;
}
.service-col h3{
    text-align: center;
    padding:0 0 10px 0;
}
.service-col a{
    text-decoration: none;
    color:#14045c;
    position: absolute;
    right:10px;
    bottom:10px;
}

.service-col.hover:hover{
    box-shadow: 0 0 20px 0 rgb(0,0,0, 0.2);
}
.service-col a.hover:hover{
    cursor: pointer;
    text-decoration: underline;
    font-weight: 600;
}
/*Footer section*/
.footer{
    width: 100%;
    bottom: 0;
    padding:30px 0;
    text-align: center;
}
.footer h3{
    text-align: center;
    padding:0 0 10px 0;
}
.footer p{
    padding:0% 8%;
}
.icons .fa-brands{
    color:#240bdd;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    font-size: 2em;
}
.fa-heart{
    color:#240bdd;
}
@media (max-width:700px){
    /*apps section*/
    .header{
        padding:0 8%;
    }
    .header nav div{
        padding:0 10px;
    }
    nav img{
        width:90px;
        border-radius: 0;
    }
    h1{
        font-size: 27px;
        padding:20px 0;
    }
    h3 {
        font-size: 18px;
    }
    p {
        font-size: 12px;
    }
    a {
        font-size: 12px;
    }
    .header nav div {
        font-size: 9px;
    }
    .about p{
        font-size: 12px;
    }
    /*subjects will be shared across all pages - ged, igcse, ielts and general english*/
    .categories{
        flex-direction: column;
    }
    .categories .subs ul{
        padding-left:20px;
    }
    .categories .subs ul li {
        font-size: 11px;
    }
    /* landing page - app section remove list style for small screens*/
    .apps .intro p {
        text-indent: 10%;
        line-height: 20px;
        padding:1% 0;
    }
    /* landing page - services section*/
    .row{
        flex-direction: column;
        margin-top: 5%;
    }
    .icons .fa-brands{
        font-size: 1em;
    }
    /*igcse page - subject section*/
    .unit-names a{
        font-size: 10px;
    }
    /*for subject pages - igcse esl, ged rla etc*/
    .header nav div a{
        font-size: 9px;
    }
    .navigation ul{
        width:100%;
    }
    .navigation ul li{
        width:23%;
        padding:5px 0;
        text-align: center;
    }
    .navigation ul li a{
        font-size: 10px;
    }
    .navigation .categories div {
        font-size: 10px;
    }
}